# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
*.log
*.sqlite
database.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project Specific
secret.key
system.log
backend/system.log
backend/__pycache__/
backend/*.db
